#config
config.*
nu_config.*
*.json
geck*

#vs things
__pycache__

#ignore files
# *.pickle
*.docx

#novels
I-Became-a-Heartthrob-After-A-Job-in-Quick-Transmigration
I-Became-a-Heartthrob-After-A-Job-in-Quick-Transmigration/*
Im-Just-This-Sue/*
Im-Just-This-Sue